
<p class="text-white"><strong>Name:</strong> <%= exercise.name %></p>
<p class="text-white"> <strong>Sets:</strong> <%= exercise.sets %></p>
<p class="text-white"> <strong>Reps:</strong> <%= exercise.reps %></p>

