.navbar {
  justify-content: space-between;
  background: black;
  color: white;
}

.navbar-inner .navbar-active {
  flex-grow: 0;
}

.navbar-inner .navbar-brand i {
  width: 30px;
  height: 30px;
  color: white;
}

.dropdown a {
  color: black;
}

#text-blue a {
  color: blue;
}

#text-blue:hover a {
  color: #fee85f;
  font-weight: bold;
  text-decoration: none;
}
